* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;


}

.img1 {
    width: 200px;
    ;
}

.imgperfil {
    width: 60%;
}

.header {
    background-color: #f0dbc0;
    display: flex;
    justify-content: space-around;
    height: 15vh;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.menu {
    display: flex;
    align-items: flex-end;
}

#btn {
    padding: 0px 10px 10px 0px;
    text-decoration: none;
    font-size: 15px;
}

:roo {
    --cor: #fafafa;
    --cor1: #f2f2f2;
    --cor2: #f2bdbd;
    --cor3: #8c6568;
    --cor4: #f0dbc0;
    --cor5: #d9d9d9;
}

.container {
    background-color: #F2F2F2;
    width: 100%;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #d9d9d9;
    margin: auto;
    max-width: 50%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}

.mensagem {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
}

.img2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.paragrafo {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
    text-align: center;

}

.title {
    padding-top: 50px;
    text-align: center;
   background-color:  #f0dbc0;
   margin-top: 100px;
}

.servico {

    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    background-color:#f0dbc0;
    padding-bottom: 50px;

}

.servi {
    display: flex;
    justify-content: center;
    width: 300px; ;
    height: 250px;
    background-color:#FAFAFA;
    text-align: left;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
   
}
.serviconteudo{
    padding:20px;
}
.extensao{
    display: flex;
  justify-content: space-around;
  align-content:space-around ;
  flex-wrap: wrap;
}
.img{
display: flex;
justify-content: center;

}
.paragrafo2{
width: 300px;
}
