* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6F8C5A;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

}

header {
    background-image: linear-gradient(to right ,#A6BF9F,#83e1ad,#2fa866 );
    background-color: #A6BF9F;
    height: 25vh;
    width: 100%;

}

.title {
    display: flex;
    flex-direction: column;
}

.paragrafo {
    margin: 0 auto;
    padding-top: 10px;
}

.titulo {
    padding: 25px;
    margin: 0 auto;
}

p {
    margin-bottom: 35px;
}

.menu {

    display: flex;
    justify-content: center;


}

.nav {

    max-width: 500px;
    text-align: center;
    text-decoration: none;
    transition: .8s initial;
    background-color: #6F8C5A;
    font-size: 19px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.nav:focus {
    background-color: #A6BF9F;   
    color: #6F8C5A;
}

main {
    background-color: var(--cor0);
    max-width: 600px;
    min-width: 300px;
    margin: auto;
}

article {
   
    position: relative;
    margin-top: 30px;
}

h1 {
    text-align: center;
}
.img{
    width: 300px;
    margin-top: 50px;    
}
.foto{
    display: flex;
    justify-content: center;
}
.textbiografia{
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    background-color: var(--cor0);
    padding: 15px;
    width: 200px; ;
}
.endereco{
    display: flex;
   
}
.textendereco{
   margin-top: 60px;
   margin-left: 10px;
   background-color: var(--cor0);
}
.biografia{
   
}
:root {
    --cor0: #d4f3e2;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font-padrao: serif, arial, verdana, ;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-andorid: 'Android', cursive;
}