* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    height: 90%;
    width: 100%;
}

.img1 {
    width: 200px;
    ;
}

.imgperfil {
    width: 300px;
}

.header {
    background-color: #f0dbc0;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.menu {
    display: flex;
    align-items: flex-end;
}

#btn {
    padding: 0px 10px 0px 0px;
    text-decoration: none;
}

:roo {
    --cor:  #fafafa;
    --cor1: #f2f2f2;
    --cor2: #f2bdbd;
    --cor3: #8c6568;
    --cor4: #f0dbc0;
    --cor5: #d9d9d9;
}

.container {
    background-color: #F2F2F2;
    width: 100%;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #d9d9d9;
    margin: auto;
    width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px black ;
}

.mensagem {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;


}

.img2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.paragrafo {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;

}